
/*验证标签式提示信息样式*/

.form-hint {
    position: absolute;
    z-index: 9;
    height: auto;
    max-width: 200px;
    /* display: none; */
}

.form-hint-text {
    border-radius: 3px;
    padding: 5px;
    /* height: 28px;
    line-height: 28px; */
    font-size: 12px;
    background-color: #117da3;
    opacity: 0.65;
    filter: alpha(opacity=65);
    zoom: 1;
    color: #FFF;
}

.form-hint-arrow  {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-image: initial;
    opacity: 0.65;
}
.arrow-right {
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -10px;
    border-color: transparent #117da3 transparent transparent;
}
.arrow-left {
    right: 0;
    top: 50%;
    margin-top: -5px;
    margin-right: -10px;
    border-color:  transparent transparent   transparent #117da3;
}
.arrow-top {
    left: 50%;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: -5px;
    border-color:  #117da3 transparent transparent transparent;
}
.arrow-bottom {
    left: 50%;
    top: 0;
    margin-top: -10px;
    margin-left: -5px;
    border-color:  transparent transparent #117da3 transparent;
}
